
.center{
  text-align:center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center-block{
  margin:0 auto;
}
.fill-width{
  width:100%;
}
.fill-height{
  height:100%;
}
.blockify{
  display:block;
}
.fill{
  width:100%;
  height:100%;
  margin:0;
}
.paddingwidth8010{
  box-sizing: border-box;
  padding:0 10%;
}
.padding8010{
  box-sizing: border-box;
  padding:10%;
}
.standard-width{
  width:960px;
}
.standard-width-wide{
  width:1200px;
}
.white{
  color:#fff;
}
.black{
  color:#000;
}
.standard-grey{
  color:#111;
}
.standard-light-grey{
  color:#555;
}
.remove-h-margin{
  margin-top:0;
  margin-bottom:0;
}
.whitebg{
  background-color: #fff;
}
